<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Оплата</title>
    <script src="https://js.stripe.com/v3/"></script>
</head>
<body>
<form id="payment-form">
    {% csrf_token %}
    <label for="category">Category:</label>
    <select name="category" id="category">
        <option value="GDAS">General Donation Auto selected</option>
        <option value="GDSMF">General Donation(Sadaqa fund)</option>
        <option value="ZAKAT">Zakat</option>
        <option value="FITRA">Fitra</option>
    </select>

    <label for="first_name">First Name:</label>
    <input type="text" id="first_name" name="first_name" required><br><br>

    <label for="last_name">Last Name:</label>
    <input type="text" id="last_name" name="last_name" required><br><br>

    <label for="email">Email:</label>
    <input type="text" id="email" name="email" required><br><br>

    <label for="amount">Amount:</label>
    <input type="text" id="amount" name="amount" required><br><br>

    <label for="card-element">Credit or debit card:</label>
    <div id="card-element">
        <!-- Stripe Elements будет монтировать элемент ввода карты сюда -->
    </div>
    <div id="card-errors" role="alert"></div>
    <br><br>
    <button type="submit">Оплатить</button>
</form>

<script>
    var stripe = Stripe('pk_test_51OjhrkFtBaQUT0WNipAlcuy2nFmBLzxKCboFhxqufitRYvpYe2gzkO0lBGvUbqd0T1fZ4FlmVvFXlwoJcyb7Rb1300YZNsnz3f');
    var elements = stripe.elements();
    var cardElement = elements.create('card', {hidePostalCode: true});
    cardElement.mount('#card-element');

    var form = document.getElementById('payment-form');

    form.addEventListener('submit', function (event) {
        event.preventDefault();
        stripe.createPaymentMethod({
            type: 'card',
            card: cardElement,
        }).then(function (result) {
            if (result.error) {
                console.log(result.error);
            } else {
                var formData = new FormData(form);
                formData.set('payment_method_id', result.paymentMethod.id);
                fetch('{% url "https://albukhari.inclusivetec.com/api/v1/donations/create-checkout-session/" %}', {
                    method: 'POST',
                    body: formData
                }).then(function (response) {
                    return response.json();
                }).then(function (data) {
                    console.log(data);
                    // Дополнительные действия после успешной оплаты
                }).catch(function (error) {
                    console.error('Error:', error);
                });
            }
        });
    });
</script>
</body>
</html>