{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express Checkout Demo</title>
    <script src="https://js.stripe.com/v3/"></script>
</head>
<body>
<!-- Элемент Express Checkout будет вставлен сюда -->
<div id="express-checkout-element"></div>
<div id="error-message" role="alert"></div>

<script>
    // Устанавливаем переменные для внешнего вида кнопок
    const appearance = {
        theme: 'stripe',
        variables: {
            borderRadius: '36px',
        }
    };

    // Опции элемента экспресс-оформления
    const options = {
        mode: 'payment',
        amount: 1099,
        currency: 'usd',
        appearance,
    };

    // Создаем экземпляр Stripe и элемента экспресс-оформления
    const stripe = Stripe('pk_test_51OjhrkFtBaQUT0WNipAlcuy2nFmBLzxKCboFhxqufitRYvpYe2gzkO0lBGvUbqd0T1fZ4FlmVvFXlwoJcyb7Rb1300YZNsnz3f');
    const elements = stripe.elements();
    const expressCheckoutElement = elements.create('expressCheckout', options);
    expressCheckoutElement.mount('#express-checkout-element');

    // Монтируем элемент на страницу
    expressCheckoutElement.mount('#express-checkout-element');

    // Обработка ошибок
    expressCheckoutElement.on('change', (event) => {
        const errorContainer = document.getElementById('error-message');
        if (event.error) {
            errorContainer.textContent = event.error.message;
        } else {
            errorContainer.textContent = '';
        }
    });
</script>
</body>
</html>